

#app {
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;

  
  font-family: "Libre Franklin", sans-serif;
  font-style: normal;

}

  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
   
  }

